/* 图片 380x192 */
.CongraModal__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 960px;
  height: 450px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./bg.jpg");
  transform-origin: center center;
}


.CongraModal__congra {
  text-align: right;
}
.CongraModal__congra__img {
  height: 140px;
  transform-origin: center center;
  transform: translateX(-75px) rotateZ(30deg);
}
.CongraModal__name {
  color: #ca0000;
  font-size: 85px;
  font-weight: bold;
}

.CongraModal__award {
  color: #ca0000;
  font-size: 85px;
  font-weight: bold;
}
